<%= jqgrid_stylesheets %>
<%= jqgrid_javascripts %>

<div class="wrapper">
	<div id="ip_left">
		<fieldset width="30%" align="left">
		  <legend>Add New IP</legend>
		  <% form_for :blocked, :url => { :action => "create" } do |f| %>
        IP Address: <%= f.text_field :ip, :size => 15 %> 
        to <%= f.text_field :ip2, :size => 15 %> <br />
        Port: <%= f.text_field :port, :size => 15 %>
        to <%= f.text_field :port2, :size => 15 %> <br />
        Protocol: <%= text_field_with_auto_complete :blocked, :protocols, :size => 15, :autocomplete => "off" %> <br />
		    <%= f.hidden_field :userid, :value => 1 %>
		    <%= submit_tag 'Add IP' %>
		  <% end %>
		</fieldset>
	</div>
	<div id="ip_right">
		<fieldset align="left">
        <%= jqgrid("Currently Blocked", "blocked","/dashboard/ip",
        [
          { :field => "ip", :label => "IP address"},
          { :field => "name", :label => "Protocol"},
          { :field => "port", :label => "Port"}
        ],
          { :delete => true }
                  ) %>

		</fieldset>
	</div>
</div>