
<div id="ip_left">
	<fieldset width="20%" align="right">
	  <legend>Add New IP</legend>
	  <% form_for :blocked, :url => { :controller => 'dashboard', :action => "create" } do |f| %>
	    	IP Address: <%= f.text_field :ip, :size => 20 %> </br>
			<!-- <% form_for :protocol do |i| %>
        Protocol  : <%= i.select('protocol', ['UDP','POP','TCP','SNMP','DHCP','DNS','NNTP','Telnet','SSH']) %> </br>
			<% end %> -->
	    	Port      : <%= f.text_field :port, :size => 20 %> </br>
	    <%= f.hidden_field :userid, :value => 1 %>
	    <%= submit_tag 'Add IP' %>
	  <% end %>
	</fieldset>
</div>
<div id="ip_right">
	<fieldset>
	  <legend>Currently Blocked</legend>
	  <table>
	    <col />
	    <col />
	    <tr>
	      <td class="ip">
						<% @blockeds.each do |blocked| %>
							<tr>
						    <td><%= link_to blocked.ip, { :controller => 'dashboard', :action => 'destroy', :id => blocked.id },
											:confirm => 'Are you sure?', :method => :delete %></td>
							</tr>
						<% end %>	
	      </td>
	      <td class="proto">
					<% @protocols.each do |protocol| %>
						<tr>
			    		<td><%= link_to protocol.name, { :controller => 'dashboard', :action => 'destroy', :id => protocol.id },
										:confirm => 'Are you sure?', :method => :delete %></td>
						</tr>
					<% end %>
	      </td>
	    </tr>
	    <tr class="ip">
	      <td class="ip">
        	<%= submit_tag( "Delete IP" ) %>					  
	      </td>
	      <td class="ip">
	          <%= submit_tag 'Add' %>
	      </td>
	    </tr>
	  </div>
	</table>
	</fieldset>
</div>

