<div id="ip_left">
	<fieldset width="20%" align="right">
	  <legend>Add New IP</legend>
	  <% form_for :blocked, :url => { :controller => 'dashboard', :action => "create" } do |f| %>
	    	IP Address: <%= f.text_field :ip, :size => 20 %> <br>
	    	Port      : <%= f.text_field :port, :size => 20 %> <br>
				Protocol  : <%= f.select( 'protocols', ['ALL','UDP','POP','TCP','SNMP','DHCP','DNS','NNTP','Telnet','SSH']) %> <br>
	    <%= f.hidden_field :userid, :value => 1 %>
	    <%= submit_tag 'Add IP' %>
	  <% end %>
	</fieldset>
</div>
<div id="ip_right">
	<fieldset>
	  <legend>Currently Blocked</legend>
	  <table>
	    <col />
	    <col />
	    <tr class="ip">
	      <td class="ip">	
	        <label for="option_list">IP Address</label>
					<% form_for :blocked, :url => { :controller => 'dashboard', :action => 'destroy' } do |block| -%>
						<%= select_tag("ip_list", options_from_collection_for_select(Blocked.find(:all), :id, :ip),
							{'size' => 20 } )%>
							<br />
					  <%= submit_tag "Delete"%>
					<% end -%>
	      </td>
	      <td class="ip">
	         <label for="proto_list">Protocols</label>
						<% form_for :protocols, :url => { :controller => 'dashboard', :action => 'destroy' } do |proto| -%>
							<%= select_tag("proto_list", options_from_collection_for_select(Protocol.find(:all), :id, :name),
								{ 'size' => 20 }) %>
								<br />
								<%= submit_tag "Delete" %>
						<% end -%>
		      </td>
	    </tr>
	  </div>
	</table>
	</fieldset>
</div>
  </body>
