
<div id="ip_left">
	<fieldset width="20%" align="right">
	  <legend>Add New IP</legend>
	  <% form_for :blocked, :url => { :controller => 'dashboard', :action => "create" } do |f| %>
	    	IP Address: <%= f.text_field :ip, :size => 20 %> </br>
			<!-- <% form_for :protocol do |i| %>
        Protocol  : <%= i.select('protocol', ['UDP','POP','TCP','SNMP','DHCP','DNS','NNTP','Telnet','SSH']) %> </br>
			<% end %> -->
	    	Port      : <%= f.text_field :port, :size => 20 %> </br>
	    <%= f.hidden_field :userid, :value => 1 %>
	    <%= submit_tag 'Add IP' %>
	  <% end %>
	</fieldset>
</div>
<div id="ip_right">
	<fieldset>
	  <legend>Currently Blocked</legend>
	  <table>
	    <col />
	    <col />
	    <tr class="ip">
	      <td class="ip">
	        <label for="option_list">IP Address</label>
	        <%= select_tag("option_list",
	        options_from_collection_for_select(@blockeds, "ip","ip" ),
	        html_options = {"size" => 20, "multiple" => true }) %>
	      </td>
	      <td class="ip">
	         <label for="proto_list">Protocols</label>
	        <%= select_tag('proto_list',
	        options_for_select(@protocols),
	        html_options = {"size" => 20, "multiple" => true}) %>
	        <%= submit_tag( "Remove" ) %>
	      </td>
	    </tr>
	    <tr class="ip">
	      <td class="ip">
    <td><%= link_to 'Destroy',selected_value, :confirm => 'Are you sure?', :method => :delete %></td>

	      </td>
	      <td class="ip">
	          <%= submit_tag 'Add' %>
	      </td>
	    </tr>
	  </div>
	</table>
	</fieldset>
</div>

