<%= javascript_include_tag 'swfobject.js' %>

<div id="chart_div">
<%= @chart %>
</div>

<div id="time_chooser">
  <% form_tag '/dashboard/chart_scale' do -%>
    Last: <%= select_tag(:num, options_for_select((10..60).to_a, session[:num].to_i || 30)) %> <%= select_tag(:interval, options_for_select(%w{Seconds Minutes}, session[:interval] || "Seconds")) %> <%= submit_tag 'Show' %>
  <% end -%>
</div>

<table id="overview_table" width = 70%, height=25%>
  <col width = 40% />
  <col width = 20% />
  <col width = 40% />
  <col width = 20% />

  <tbody>
    <tr class="even">
      <td>
        Current Average Traffic Rate: 
      </td>
      <td>
        <%= @traffic_rate_avg %>
      </td>
      <td>
        Recent Peak Traffic Rate: 
      </td>
      <td>
        <%= @traffic_peak %>
      </td>
    </tr>
    <tr class="even">
      <td>
        Maximum Allowed Average Rate: 
      </td>
      <td>
        <span id="avg"><%= @avg %></span>  
        <%= in_place_editor "avg", {:url => url_for(:action => :edit_num) } %>
      </td>
      <td>
        Maximum Allowed Peak Rate: 
      </td>
      <td>
        <span id="peak"><%= @peak %></span>  
        <%= in_place_editor "peak", {:url => url_for(:action => :edit_num) } %>
      </td>
    </tr>
    <tr>
      <td>
        Packets Allowed: 
      </td>
      <td>
        <%= @packets_allowed %>
      </td>
      <td>
        Packets Blocked: 
      </td>
      <td>
        <%= @packets_blocked %>
      </td>
    </tr>
    <tr class="even">
      <td>
        Percent Good Traffic: 
      </td>
      <td>
        <%= @percent_good %>
      </td>
      <td>
        Percent Bad Traffic: 
      </td>
      <td>
        <%= @percent_bad %>
      </td>
    </tr>
  </tbody>
</table>



