<table id="overview_table" width = 48%, height=50%>
  <col width = 65% />
  <col width = 35% />
  <tbody>
    <tr>
      <td>
        Current Average Traffic Rate: 
      </td>
      <td>
        <%= @traffic_rate_avg %>
      </td>
    </tr>
    <tr class="even">
      <td>
        Current Maximum Allowed Peak Rate: 
      </td>
      <td>
        <span id="peak"><%= @test_num %></span>  
        <%= in_place_editor "peak", {:url => url_for(:action => :edit_num) } %>
      </td>
    </tr>
    <tr>
      <td>
        Current Maximum Allowed Average Rate: 
      </td>
      <td>
        <span id="avg"><%= @test_num %></span>  
        <%= in_place_editor "avg", {:url => url_for(:action => :edit_num) } %>
      </td>
    </tr>
    <tr class="even">
      <td>
        Packets Allowed: 
      </td>
      <td>
        <%= @packets_allowed %>
      </td>
    </tr>
    <tr>
      <td>
        Packets Blocked: 
      </td>
      <td>
        <%= @packets_blocked %>
      </td>
    </tr>
    <tr class="even">
      <td>
        Percent Good Traffic: 
      </td>
      <td>
        <%= @percent_good %>
      </td>
    </tr>
    <tr>
      <td>
        Percent Bad Traffic: 
      </td>
      <td>
        <%= @percent_bad %>
      </td>
    </tr>
  </tbody>
</table>

<div id="chart_div">
  <div id="hidden_chart">
    <%= image_tag @chart.to_url, :size =>"500x300" %>
  </div>
</div>
