<h1 align = "center">Register</h1>
<% form_for @user do |f| %>
  <%= f.error_messages %>
  <br/>
  <%= f.label :login %>
  <%= f.text_field :login %>
  <%= f.label :password, f.object.new_record? ? nil : "Change password" %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  </p>
  <p><%= f.submit "Register" %></p>
<% end %>
